<div class="hero-unit">
	<h1>Welcome to Whojam !</h1>
	<p>
		You can follow our blog
		<%= link_to "Whojamlive", "http://www.Whojamlive.com" %>
	</p>
	<p>
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>